.page-wrapper {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 1080px;
    height: 100%;
    min-height: 100vh;
    line-height: 1;
    overflow-y: scroll;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.menu-header {
    position: relative;
    width: 100%;
    z-index: 100;
    border-top: 5px solid #e03734;
    background-color: #202122;  
}
    .page-header-logo {
        height: 60px;
        padding-right: 10px;
 }
 html {
    display: block;
    color: -internal-root-color;
}