body {
  display: flex;
  background: white;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}


header {
text-align: center;
padding: 20px 0;
}

h1 {
font-size: 35px;
color: #2C3E50;
margin: 0;
font-family: "Arial", sans-serif;
text-align: left 50%;
}



#gros-bouton-rouge {
background-color: #E74C3C;
color: white;
padding: 320px 340px;
font-size: 20px;
cursor: pointer;
border: none;
border-radius: 50%;
display: block;
margin: 50px auto;
transition: background-color 0.3s;
font-family: "Roboto", sans-serif;
}

#gros-bouton-rouge:hover {
background-color: #C0392B;
}
.emoji {
      font-size: 2em;
      text-align:center;
      cursor: pointer;
      margin: 10px;
    
    
  }
  .selected {
    background-color: lightblue;
  }
  h2{ 
    text-align:center;
    
  }
  .emoji {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.selected {
  background-color: lightblue;
}

h2 {
  text-align: center;
}

section {
  text-align: center;
}
nav {
  background-color: white; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  text-align: center; /* Centrage du texte */
}

nav a {
  color: black; /* Couleur du texte */
  text-decoration: none; /* Suppression du soulignement */
  margin: 0 10px; /* Marge horizontale entre les liens */
  font-size: 24px; /* Taille de la police */
  font-family: "Arial", bold;
}

nav a:hover {
color: red; /* Couleur du texte au survol */
}

nav a:hover {
  background-color: #E74C3C;
  color: white;
  background: linear-gradient(45deg,#2e3192, #1bffff);
  border-radius: 5px; /* Coins arrondis */
}
nav a:nth-child(1):hover~span {
  left: 0;
}
nav a:nth-child(2):hover~span {
  left: 95px;
}
nav a:nth-child(3):hover~span {
    left: 189px;
}
  nav {
  background-color: #F5C6AB; /* Fond blanc */
  padding: 10px; /* Espacement intérieur */
  text-align: center; /* Centrage du texte */
  border-radius: 5px; /* Coins arrondis */
}

  nav-container {
  background-color: grey; /* Fond gris */
  padding: 10px; /* Espacement intérieur */
}
