.map {
    width: 100%;
    height: 250%;
}

.mapsaustin {
    margin-left: 5px;
    margin-top: 3px;
}

.mapsannecy {
    margin-left: 5px;
    margin-top: 3px;
}

.mapsgeneva {
    margin-left: 5px;
    margin-top: 3px;
}

.mapsbochum {
    margin-left: 5px;
    margin-top: 3px;
}

.h2thibault {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: black;
    background-color: rgb(255, 238, 0);
}
