body{
    background-image: url(images/background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    font-weight: bolder;
}
.menu {
    font-size: 100%;
    color: rgb(27, 41, 56);
    background-color: transparent;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    margin-left: 0;
    font-weight: bolder;
}
.home_page{
    background-color: transparent;
    border: transparent;
    float:right ;
    font-weight: bolder;
}
.b1 {
    border: transparent;
    background-color: transparent;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}
.header {
    font-family: 'Inconsolata', monospace;
    position: fixed;
    margin-right: 10px;
    text-align: center;
    font-weight: bolder;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    }
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

header{
    background-repeat: no-repeat;
    background-size: cover;
    top: 20%;
    padding-bottom: 460px;
    font-size: 200%;
    font-family: 'Inconsolata', monospace;
    color: rgb(27, 41, 56);
    font-weight: bolder;
}

.titre12 {
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-weight: bolder;
    
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-weight: bolder;

}

.visible {
    display: list-item;
    font-weight: lighter;

}

.invisible {
    display: none;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
 }

a.menu:hover  {
    text-decoration: underline;
    color: rgb(27, 41, 56);
  }
a.menu{
    text-decoration: none;
}
 .fleche_haut {
     position: fixed;
     bottom: 0;
     right: 0;
 }

.thanks {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;

}

.thanks h1{
    text-align: center;
    font-size: 700%;
    margin: 0;
    padding-top: 300px;
    color: rgb(27, 41, 56);
}

.thanks h2{
    text-align: center;
    color: rgb(27, 41, 56);
    font-size: 700%;
}

.para{
    text-align: left;
    color:  rgba(61, 226, 231, 0.932);
    padding-bottom: 50px;
}

.thibault{
    position: absolute;
    top: 15%;
    right: 6%;
    text-align: left;
    color:  rgba(224, 66, 119, 0.932);
    font-family: 'Inconsolata', monospace;
    background: white
}

.morgane{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: right;
    color:  rgba(224, 66, 119, 0.932);
    font-family: 'Inconsolata', monospace;
    background: white

}

.emma{
    position: absolute;
    top: 80%;
    color:  rgba(224, 66, 119, 0.932);
    font-family: 'Inconsolata', monospace;
    margin-left: 300px;
    left: 10px;
    background: white

}

.adrien{
    position: absolute;
    top: 80%;
    right: 28%;
    color:  #62dd10f3;
    font-family: 'Inconsolata', monospace;
    background: white

    
}

.maelys{
    position: absolute;
    top: 15%;
    color:  rgba(61, 226, 231, 0.932);
    font-family: 'Inconsolata', monospace;
    margin-left: 15%;
    left: 10%;
    background: white

}
.maelys1 {
    position: absolute;
    top: 10%;
    color: rgba(88, 44, 207, 0.952);
    font-family: 'Inconsolata', monospace;
    margin-left: 15%;
    left: 5%;
    background: white


}


.c1{
    position: absolute;
    right: 10%;
    text-align: left;
    color: rgba(88, 44, 207, 0.952);
    font-size: 250%;
    bottom: 10%;
    background: white

}

.c2{
    position: absolute;
    top: 10%;
    text-align: right;
    color:  rgba(224, 66, 119, 0.932);
    font-size: 250%;
    right: 400px;
    background: white

}


.c3{
    position: absolute;
    top: 70%;
    color:  #62dd10f3;
    margin-left: 50px;
    font-size: 250%;
    left: 0;
    background: white

}

.c4{
    position: absolute;
    top: 50%;
    color:  rgba(61, 226, 231, 0.932);
    right: 100px;
    font-size: 250%;
    background: white

}

.c5{
    position: absolute;
    top: 20%;
    color: rgba(88, 44, 207, 0.952);
    font-size: 250%;
    left: 5%;
    background: white

}


.slides-nav {
    position: absolute;
    top: 50%;
}

.slides-nav img {
    width: 150px;
    height: 150px;
}

.slide {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-image: url('images/papa/1521.jpg');
}
.slide1{
    background: url("images/IMG_20210210_144745.jpg") left/50% no-repeat, url("images/photo%20JB.png") right/50% no-repeat
}


.slide span {
    display: inline-block;
    width: 400px;
}

#next-slide {
    right: 50px;
}

#previous-slide {
    left: 50px;
}

.thanks .hidden {
    display: none;
}

.tache1 {
    position: relative;
    margin-top: 45px;
}

.tachedecouleur {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
	height: 160px;
    max-width: 100%;
    margin:0 auto;
    display: block;
}
.lettre{
    color:  rgba(224, 66, 119, 0.932);
}

.lettre1{
    color:  #62dd10f3;
}
.lettre2{
    color:  rgba(61, 226, 231, 0.932);
}
.lettre3{
    color: rgba(88, 44, 207, 0.952);
}
.lettre4{
    color: rgba(255, 234, 42, 0.925);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--color-one: #8aeba1;
	--color-two: #ebc3e2;
}

.bodynewsletter {
	font-family: 'Poppins', sans-serif;
}

button, input {
	font-family: inherit;
	font-size: 0.65rem;
}

.floating-btn {
	color: white;
	background: linear-gradient(to right, var(--color-one), var(--color-two));
	box-shadow: 2px 2px 4px var(--color-two-op);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-weight: bold;
	padding: 0.75rem 1.25rem;
	position: fixed;
    top: 0;
	right: 0;
    margin-top: 7px;
    margin-right: 7px;
	transition: opacity 0.3s ease-in;
}

.floating-btn.hidden {
	opacity: 0;
}

.floating-btn:focus {
	background: var(--color-two);
	outline: none;
}

.floating-btn:hover {
	background: var(--color-two);
}

.news-container {
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
    margin-top: 7px;
    margin-right: 7px;
	transition: transform 0.3s ease-in;
	transform: translateX(120%);
	width: 300px;
}

.news-container.show {
	transform: translateX(0);
}

.news-header {
	background: linear-gradient(to right, var(--color-one), var(--color-two));
	color: white;
	padding: 1.5rem 1rem 1rem;
	position: relative;
	text-align: center;
}

.news-header h4 {
	margin: 0;
}

.news-body {
	background-color: #fff;
	padding: 1rem;
}

input {
	display: block;
	padding: 0.35rem;
	border: 1px solid #bababa;
	border-radius: 3px;
	width: 100%;
}

.submit-btn {
	color: white;
	background: linear-gradient(to right, var(--color-one), var(--color-two));
	border: none;
	display: block;
	padding: 0.35rem;
	border: 1px solid #bababa;
	border-radius: 3px;
	margin-top: 0.5rem;
	width: 100%;
}

.close-btn {
	background-color: transparent;
	border: none;
	color: #bababa;
	cursor: pointer;
	font-size: 0.8rem;
	position: absolute;
	top: 5px;
	right: 5px;
}

.close-btn:focus {
	outline: none;
}
.mot{
    font-size: 250%;
    text-decoration: 5px #ff0707 wavy underline ;
    color: white;
    font-weight: 100

}
.brutus{
    color: white;
}

.divoffices {
    text-align: center;
    font-size: 20px;
}