.menu {
    font-size: 280%;
    color: black;
    background-color: transparent;
    font-variant: small-caps;
    font-family: century serif;
    display: inline-block;
}

.b1 {
    border: transparent;
    border-color: transparent;
    background-color: transparent;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.vl {
    border-left: 0.5%;
    height: 6.5%;
  }
.header{
    float: center;
    text-align: center;
    margin-right: 10%;
    padding-top: 1.5%;
    padding-right: 1.8%;
    padding-bottom: 0.5%;
    padding-left: 1.8%;
}

.logosonarsource {
    float: left;
}

.fleche_haut {
    width: 3%;
    height: 5.9%;
    position:static;
    float: right;
    margin-right: 1%;
    margin-top: 50%;
}