.menu {
    font-size: 100%;
    color: rgb(255, 255, 255);
    background-color: transparent;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    margin-left: 0;

}
.home_page{
    background-color: transparent;
    border: transparent;
    float:right ;
}
.b1 {
    border: transparent;
    background-color: transparent;
    font-family: 'Inconsolata', monospace;
}
.header {
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    position: fixed;
    margin-right: 10px;
    text-align: center;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    }
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

header{
    background-repeat: no-repeat;
    background-size: cover;
    top: 20%;
    padding-bottom: 200px;
    font-size: 200%;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    color: white;
}

h1 {
padding-top: 100px;
text-align: center;
    
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

.visible {
    display: list-item;

}

.invisible {
    display: none;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
 }

a.menu:hover  {
    text-decoration: underline;
    color: white;
  }
a.menu{
    text-decoration: none;
}
 .fleche_haut {
     position: fixed;
     bottom: 0;
     right: 0;
 }

.thanks {
    position: relative;
}

.thanks h1{
    text-align: center;
    font-size: 700%;
    margin: 0;
    padding-top: 300px;
    color: turquoise;

}

.thanks h2{
    text-align: center;
    color: turquoise;
    font-size: 700%;
}

.para{
    text-align: left;
    color: saddlebrown;
    padding-bottom: 50px;
}

.thibault{
    position: absolute;
    top: 15%;
    right: 6%;
    text-align: left;
    color: #210eca;
    font-family: cursive;
}

.morgane{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: right;
    color: #fffb07;
    font-family: cursive;
}

.emma{
    position: absolute;
    top: 80%;
    color: rgb(107, 11, 107);
    font-family: cursive;
    margin-left: 300px;
    left: 10px;
}

.adrien{
    position: absolute;
    top: 80%;
    right: 28%;
    color: rgb(255, 251, 251);
    font-family: cursive;
    
}

.maelys{
    position: absolute;
    top: 10%;
    color: rgb(255, 0, 0);
    font-family: cursive;
    margin-left: 15%;
    left: 10px;
}


.c1{
    position: absolute;
    right: 10%;
    text-align: left;
    color: #fafdfd;
    font-family: cursive;
    font-size: 400%;
    bottom: 10%;
}

.c2{
    
        position: absolute;
        top: 10%;
        text-align: right;
        color: #ffec07;
        font-family: cursive;
        font-size: 400%;
        right: 400px;
}



.c3{
    position: absolute;
    top: 70%;
    color: violet;
    font-family: cursive;
    margin-left: 50px;
    font-size: 400%;
    left: 0;
}

.c4{
    position: absolute;
    top: 50%;
    color: rgb(112, 5, 235);
    font-family: cursive;
    right: 100px;
    font-size: 400%;
}

.c5{
    position: absolute;
    top: 20%;
    color: rgb(11, 240, 11);
    font-family: cursive;
    font-size: 300%;
    left: 5%;
}


.slides-nav {
    position: absolute;
    top: 50%;
}

.slides-nav img {
    width: 150px;
    height: 150px;
}

.slide {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-image: url('photo%20oli.png');
}
.slide1{
    background: url("images/IMG_20210210_144745.jpg") left/50% no-repeat, url('photo%20JB.png') right/50% no-repeat
}


.slide span {
    display: inline-block;
    width: 400px;
}

#next-slide {
    right: 50px;
}

#previous-slide {
    left: 50px;
}

.thanks .hidden {
    display: none;
}

.tache1 {
    position: relative;
    margin-top: 45px;
}