h2.dessous,h1.dessous
{
    color: black;
    font-size: 200%;
}
p
{
    color:rgb(27, 41, 56) ;
}
h1.dessous
{
    text-align: center;
}
p.dessous
{
    font-size: 20px;
}
.dessous
{
    clear: both;

}
h1.dessous
{
    font-size: 33.3px;
}
h2.dessous
{
    font-size: 20px;
}
.paratexte
{
    font-style: oblique;
}
.prenom
{
    font-size: 20px;
    color:rgb(203, 48, 50)
}

div.dessous .test
{
    position: center;
}
.IMAGE1
{
    position: absolute;
  top:10% ;left: 2%;
}
.parent
{
position: relative;
min-height: 1700px;
}
.IMAGE2
{
    position: absolute;
  top:10% ;left: 45%;
}.IMAGE3
{
    position: absolute;
  top:40% ;left: 25%;
}.IMAGE4
{
    position: absolute;
  top:40% ;left: 69%;
}
.IMAGE5
{
    position: absolute;
   top: 70%; left: 40%;
}
.prespersMA
{
    position: absolute;
    top: 15%;left: 75%;
}
.prespersMO
{
    position: absolute;
    top:30%;left:60%;
}
.prespersT
{
    position: absolute;
    top:30%;left:2%;
    width: 800px;
}
.prespersA
{
    position: absolute;
    top:60%;left:2%;
    width: 900px;
}
.prespersE
{
    position: absolute;
    top:60%;left:55%;
}
.prespersJ
{
    position: absolute;
    top:80%;left:60%;
}
.TITREPRES
{
    text-align: center;
}
.paragraphe{
    font-size: 20px;
}

.le1{
    color:  rgba(224, 66, 119, 0.932);
}

.le2{
    color:  #62dd10f3;
}

.le3{
    color:  rgba(61, 226, 231, 0.932);
}

.le4{
    color: rgba(88, 44, 207, 0.952);
}

.le5{
    color: rgba(255, 234, 42, 0.925);
}