h2.dessous,h1.dessous
{
    color: rgb(203, 48, 50);
}
div.presbody
{
    background: url(OKKK.jpg) bottom left no-repeat , url(OKKKK.jpg) no-repeat bottom right, url(OKKKKK.jpg) no-repeat bottom , url(OKK.jpg) no-repeat center ;
}
p
{
    color:black ;
}
h1.dessous,body
{
    text-align: center;
}
p.dessous
{
    font-size: 13.3px;
}
.logoSonarSource
{
    float:left;
}
.dessous
{
    clear: both;
}
h1.dessous
{
    font-size: 33.3px;
}
h2.dessous
{
    font-size: 20px;
}
.paratexte
{
    font-style: oblique;
}
div.dessous
{
    border: 2.5px rgb(203, 48, 50) double ;
}
.imagecentre
{
    float: right;
}
.prespers
{
    text-align: left;
}
.prenom
{
    font-size: medium;
    color:rgb(203, 48, 50)
}
.love
{
    font-style: italic;
    text-decoration: overline underline;
}
div.dessous .test
{
    position: center;
}

img {
    border-radius: 20px;
}