

.font {
    margin-left: 10px;
    border-radius: 400px;
    height: 250px;
  }
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    }
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }