html{
  border-top: 5px solid #c72b28;
  border-bottom:  5px solid #c72b28;
  border-left: 5px solid #c72b28;
  border-right: 5px solid #c72b28;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Myriad Pro Regular";
  color: white;
  margin: -10px;
  padding-bottom: 10px;
}

h1 strong {
  font-family: "Myriad Pro Bold";
}

body {
  background-color: white;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  background-color: #333333;
}

li.home {
  display: inline-block;
  margin-left: 80px;
  font-family: 'Myriad Pro Regular';
  font-size: 30px;
}

li {
  display: inline-block;
  color: #c72b28;
  font-weight: 150px;
  font-style: unset;
  font-family: "Myriad Pro Regular" ;
}

li :nth-child(2n) {
  display: block;
}

ul.p {
  text-align: center;
  line-height: 80px;
}

.h {
  height: 60px;
  vertical-align: -7px;
}

img.image {
  height: 80px;
  text-align: right;
}
.lipsum::first-letter {
  font-size: 70px;
}

li :hover {
  text-decoration-color: white;
}

table {
  border-collapse: collapse;
  line-height: 15px;
}
td {
  border: 1px solid black;
}
h3 {
  text-align: center;
  font-family: "Myriad Pro Regular";
  font-weight: 200px;
  color: white;
  text-decoration: underline white;

}
table {
  text-align: center;
  font-family: "Myriad Pro Regular";
}
a.lien {
  text-decoration: none;
  color: #c72b28;
}
a.lien:hover {
  text-decoration: underline;
  color: white;
}

.presentation {
  font-size: 20px;
  color: white;
  font-size: 15px;
  text-align: center;
}
.nom {
    color: white;
    text-decoration: none;
}
a.nom:hover{
    text-decoration: none;
    color:  #c72b28;
}

.logo {
    margin-left: -40px;
    height: 80px;
}

table.tableau{
  background-color: rgba(136, 133, 133, 0.829);
  line-height: 10px
  }

.h :hover {
    color: white;
}

.sonar {
  height: 30px;
  padding-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.menu-header {
  position: relative;
  width: 100%;
  z-index: 100;
  background-image: url("https://habbo-dev.fr/uploads/monthly_2017_09/op_36852_developpement-informatique1.jpg.dc6cd0ff24ac080184eb8879981524a8.jpg");
}

.teamface {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Myriad Pro Regular';
  margin-top: 10px;
  }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  }
  @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.chicken {
  margin-left: 10px;
  border-radius: 400px;
  height: 250px;
}

.card img.face {
  border-radius: 90%;
  width:35px; 
  height:35px;
}


.why {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  font-family: 'Myriad Pro Regular';
  color: #c72b28;
}

.tooltip {
  display: inline-block;
}

.tooltip img {
  height: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #c72b28;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  color: #333333;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tool {
  border-radius: 100%;
}


div.gallery img {
  width: 300px;
  border-radius: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: 'Myriad Pro Regular' ;
  color: white;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: right;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.orange {
  background-color: #fd6a00;
}

.blue {
  background-color: #4c9bd6;
}

.red {
  background-color: #c72b28;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px 20px 16px;
  border-radius: 10px;
}


.card p {
  padding-bottom: 10px;
  line-height: 14px;
}

.card div {
  display: inline-flex;
}

.card ul {
  padding: 0px 12px 12px 12px;
  margin: -12px;
}

.card ul li {
  display: inline-block;
}

.clearfix:after {
  display: table;
  clear: both;
}

.line {
  display: inline-flex;
  width: 100%;
}

.department {
  width: 50%;
  text-align: center;
}

.missioncontrol {
  width: 100%;
}

.produit {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.footer li {
  text-align: center;
  width: 33%;
}


.testons {
  background-color: #333333;
}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px 20px 16px;
  border-radius: 10px;
  background-color: indigo;
}

p.six {
  color: white;
  font-family: 'Myriad Pro Regular' ;

}
.card5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px 20px 16px;
  border-radius: 10px;
  background-color: deepskyblue;
}



.spaced {
  display: flex;
  justify-content: space-between;
}



.gallery {
  height: 450px;
}




