a{
    color: black;
    text-decoration: none;
    margin-right: 10%;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: darkmagenta;
}
em {
    font-weight: 800;
    text-decoration: none;
}
header {
    position: relative;
    top: 0px;
    border: 1cm;
}
footer {
    position: absolute;
    bottom: 0px;
    border: 1cm;
    width: 100%;
    justify-content: center;
    height: 25px;
}
footer, header {
    display: flex;
}
footer p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.un {
    margin: 0px;
}
ul {
    margin-right: 80%;
}
.barre {
    position: absolute;
    bottom: 5%;
    width: 100%;
}
#mail {
    
    height: 40px;
    width: 45px;
    margin-right: 10px;

}
#argent {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 6px;
}
#credits {
    margin-left: 5px;
}
#Cagnotte {
    margin-right: 5px;
    margin-left: 5px;
    width: 105px;
    height: 40px;
}
.posisioned {
    position:static;
    margin:8px;
    font-size: 15mm;
    text-align: center;
    text-decoration:underline;
}

body {
    margin: 0%;
}

.nav-principal {
    font-size: 2cm;
    background-color: black;
    color:black;
    margin: 0%;
}
.nav-principal a {
    color:aliceblue;
    font-size: 1cm;
}

html {
    background-color: #D8D9D9;
}

#ville {
    text-align: center;
    font-size: 7mm;
}

#map {
    text-align: center;
}

.premier {
    border: black;
    font-size: large;
}
