@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     margin-bottom: 10px;
     font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background: white;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

video{
    margin-top: 10px;
}

nav {
    margin-left: 76px;
    position: relative;
    width: 300px;
    height: 50px;
    background: grey;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
    margin-top: 30px;
  }
  nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    z-index: 1;
  }
  nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 100%;
    background: linear-gradient(45deg,#2e3192, #1bffff);
    border-radius: 8px;
    transition: .5s ease;   
  }
  nav a:nth-child(1):hover~span {
    left: 0;
  }
  nav a:nth-child(2):hover~span {
    left: 100px;
  }
  nav a:nth-child(3):hover~span {
    left: 209px;
  }
  