h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Myriad Pro Regular";
  color: white;
  margin: 0;
  padding: 50px 0;
}

h1 strong {
  font-family: "Myriad Pro Bold";
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5cf9046d4b1d31000129ca6e/1559893829694-KDL3G1KRRGUOKU6LGU68/ke17ZwdGBToddI8pDm48kDhgkfvbp3JBaqmyanbCvSJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0o8OMvY5tuV_wqZQCqqStn775vq3pgxnhMvqUwX5Q3JlskeNdY_593UofjYQeoblEA/DSC_1196+%282%29.JPG?format=2500w");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

li.home {
  display: inline-block;
  margin-left: 80px;
  font-family: 'Myriad Pro Regular';
}

li {
  display: inline-block;
  color: black;
  font-weight: 150px;
  font-family: "Roboto";
  font-style: unset;
}
li :nth-child(2n) {
  display: block;
}
ul.p {
  text-align: center;
}
.h {
  height: 40px;
  vertical-align: -7px;
}
ul.p {
  background-color: #c72b28;
  line-height: 80px;
}
img.image {
  height: 80px;
  text-align: right;
}
.lipsum::first-letter {
  font-size: 80px;
}

li :hover {
  text-decoration-color: white;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
h3 {
  text-align: center;
  box-shadow: 1px 6px 8px gray;
  background-color: #c72b28;
  line-height: 50px;
  color: white;
  width: 100%;
}
table {
  text-align: center;
}
a.lien {
  text-decoration: none;
  color: black;
}
a.lien:hover {
  text-decoration: underline;
  color: white;
}

.presentation {
  font-size: 20px;
  color: #c72b28;
  font-size: 15px;
  text-align: center;
}
.nom {
    color: white;
    text-decoration: none;
}
a.nom:hover{
    text-decoration: none;
    color:  #c72b28;
}

a:hover{
    text-decoration: underline;
    color:  white;
}
table.tableau{
    background-color: #c95e219f;
}


