.notif {
    width: 400px; 
    height: 255px;
    background-color: black;
}
div {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif		;
}

.p {
    margin-left: 5px;
    margin-right: 5px;
}
body
{
    color: rgb(203, 48, 50);
}