nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    text-align: center;
}
nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li{
    float: left;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;

}
nav a {
    text-decoration:none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(27, 41, 56);
}

.sous {
    display: none;
    position: absolute;
}
nav > ul li:hover .sous{
    display: block;
}