h3{
    
    text-align: center;
    box-shadow: 1px 6px 8px rgba(7, 7, 7, 0.658);
    background-color: rgb(167, 5, 5); 
    line-height: 50px;
    color: floralwhite;
}
p{
    border: 1px solid black
}
img.map{
    width=300 height=200>
}